
.user-page {
    width: 80%;
    color: black;
    margin-top: 2.5rem;
    margin-left: 15rem;

    &__entete {
        font-size: 2.3rem;
        margin-bottom: 5rem;
        span {
            color: red;
        }
        p {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }
    }

    &__graph {
        height: 55rem;
        display: flex;
        &__left {
            width: 80%;
            display: flex;
            flex-direction: column;

            // ACTIVITY CHART user-page__graph__left__activity-chart
            &__activity-chart {
                height: 55%;
                margin-bottom: 2rem;
                margin-right: 2.5%;
                background-color: #fbfbfb;
                position: relative;
                border-radius: 5px;


                &__title {
                    color: #000;
                    position: absolute;
                    top: 3rem;
                    left: 4rem;
                    font-size: 1.2rem;   
                }
            }
            // USER_AVERAGE_SESSIONS user-page__graph__left__bottom
            &__bottom {
                height: 39%;
                display: flex;
                //UserAverageSessionsLineChart
                &__User-Average-Sessions-LineChart {
                    position: relative;
                    background-color: #ff0000;
                    border-radius: 5px;
                    width: 32%;
                    margin: 1% 0 1% 0%;
                   h2 {
                        position: absolute;
                        font-size: 1.5rem;
                        top: 2rem;
                        left: 2rem;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }

            }
        }
        &__right {
            height: 53rem;
            width: 20%;
            display: flex;
            flex-direction: column;
        }
    }


}




// fin de .user-page__graph__left__bottom